<section ng-controller="PasswordController">
    <div class="passwordBox animated fadeInDown">
        <div class="row">
            <div class="col-md-12">
                <div class="ibox-content">
                    <h2 class="font-bold">Forgot password</h2>
                    <p>Enter your email address and your password will be reset and emailed to you.</p>
                    <div class="row">
                        <div class="col-lg-12">
                            <form ng-submit="askForPasswordReset()" class="m-t" role="form">
                                <div class="form-group">
                                    <input type="email" name="email" class="form-control" ng-model="credentials.email" placeholder="Email address" required>
                                </div>
                                <button type="submit" class="btn btn-primary block full-width m-b">Send new password</button>
                                <div form-alert></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-md-6">TaiFinance.cn</div>
            <div class="col-md-6 text-right">
                <small>© 2015-2016</small>
            </div>
        </div>
    </div>
  <!--<h3 class="col-md-12 text-center">Restore your password</h3>-->
  <!--<p class="small text-center">Enter your account username.</p>-->
  <!--<div class="col-xs-offset-2 col-xs-8 col-md-offset-5 col-md-2">-->
    <!--<form ng-submit="askForPasswordReset()" class="form-horizontal" autocomplete="off">-->
      <!--<fieldset>-->
        <!--<div class="form-group">-->
          <!--<input type="text" id="username" name="username" class="form-control" ng-model="credentials.username" placeholder="Username" lowercase>-->
        <!--</div>-->
        <!--<div class="text-center form-group">-->
          <!--<button type="submit" class="btn btn-primary">Submit</button>-->
        <!--</div>-->
        <!--<div ng-show="error" class="text-center text-danger">-->
          <!--<strong>{{error}}</strong>-->
        <!--</div>-->
        <!--<div ng-show="success" class="text-center text-success">-->
          <!--<strong>{{success}}</strong>-->
        <!--</div>-->
      <!--</fieldset>-->
    <!--</form>-->
  <!--</div>-->
</section>
