<section ng-controller="PasswordController">
    <div class="passwordBox animated fadeInDown">
        <div class="ibox-content">
            <h2 class="font-bold">Reset password</h2>
            <p>Enter your new password and click the update password button to make it effective.</p>
            <div class="row">
                <div class="col-md-12">
                    <form name="passwordForm" ng-submit="resetUserPassword(passwordForm.$valid)" class="m-t" role="form" novalidate>
                        <div class="form-group" show-errors>
                            <input type="password" name="newPassword" class="form-control" ng-model="passwordDetails.newPassword" placeholder="New Password" required>
                            <div ng-messages="passwordForm.newPassword.$error" role="alert">
                                <p class="help-block error-text" ng-message="required">New password is required.</p>
                            </div>
                        </div>
                        <div class="form-group" show-errors>
                            <input type="password" name="verifyPassword" class="form-control" ng-model="passwordDetails.verifyPassword" placeholder="Verify Password" required>
                            <div ng-messages="passwordForm.verifyPassword.$error" role="alert">
                                <p class="help-block error-text" ng-message="required">Verify password is required.</p>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary block full-width m-b">Update Password</button>
                        <div form-alert></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
