<div class="middle-box text-center loginscreen animated fadeInDown" ng-controller="AuthenticationController">
    <div>
        <h1 class="logo-name">TF</h1>
    </div>
    <h3>Register to TaiFinance</h3>
    <p>Create account to see it in action.</p>

    <form name="userForm" ng-submit="signup(userForm.$valid)" class="m-t" novalidate>
        <div class="form-group" show-errors>
            <input type="text" name="username" class="form-control" ng-model="credentials.username" placeholder="Username" required>
            <div ng-messages="userForm.username.$error" role="alert">
                <p class="help-block error-text" ng-message="required">Username is required.</p>
            </div>
        </div>
        <div class="form-group" show-errors>
            <input type="password" name="password" class="form-control" ng-model="credentials.password" placeholder="Password" required ng-minlength="6">
            <div ng-messages="userForm.password.$error" role="alert">
                <p class="help-block error-text" ng-message="required">Password is required.</p>
                <p class="help-block error-text" ng-message="minlength">Password is too short.</p>
            </div>
        </div>
        <div class="form-group" show-errors>
            <input type="text" name="name" class="form-control" ng-model="credentials.name" placeholder="Name" required>
            <div ng-messages="userForm.name.$error" role="alert">
                <p class="help-block error-text" ng-message="required">Name is required.</p>
            </div>
        </div>
        <div class="form-group" show-errors>
            <input type="text" name="companyName" class="form-control" ng-model="credentials.companyName" placeholder="Company Name" required>
            <div ng-messages="userForm.companyName.$error" role="alert">
                <p class="help-block error-text" ng-message="required">Company Name is required.</p>
            </div>
        </div>
        <div class="form-group" show-errors>
            <input type="email" name="email" class="form-control" ng-model="credentials.email" placeholder="Email" required>
            <div ng-messages="userForm.email.$error" role="alert">
                <p class="help-block error-text" ng-message="required">Email address is required.</p>
                <p class="help-block error-text" ng-message="email">Email address is invalid.</p>
            </div>
        </div>
        <div class="form-group" show-errors>
            <input type="text" name="mobile" class="form-control" ng-model="credentials.mobile" placeholder="Mobile" required mobile-phone-number>
            <div ng-messages="userForm.mobile.$error" role="alert">
                <p class="help-block error-text" ng-message="required">Mobile phone number is required.</p>
                <p class="help-block error-text" ng-message="mobile">Mobile phone number is invalid.</p>
            </div>
        </div>
        <div class="form-group">
            <div class="checkbox i-checks">
                <label><input type="checkbox"> Agree the terms and policy</label>
            </div>
        </div>

        <button type="submit" class="btn btn-primary block full-width m-b">Sign up</button>
        <p class="text-muted text-center">
            <small>Already have an account?</small>
            <a ui-sref="signin"><small>Sign in</small></a>
        </p>
        <div form-alert></div>
    </form>
</div>
