.content {
	margin-top: 50px;
}
.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}

.header-profile-image {
	height: 48px;
	width: 48px;
}

/*.ng-invalid.ng-dirty {*/
	/*border-color: #FA787E;*/
/*}*/
/*.ng-valid.ng-dirty {*/
	/*border-color: #78FA89;*/
/*}*/
.navbar {
	margin-bottom: 0;
}
.error-text {
	display: none;
}
.has-error .help-block.error-text {
	display: block;
}
.has-error .help-inline.error-text {
	display: inline;
}